# Auto detect text files and perform LF normalization
* text=auto

# Git
*.gitignore       text
*.gitattributes   text

# Text Files
*.md   text
*.xml             text
*.json            text

# Scripting Files including Powershell
*.ps1             text    eol=crlf
*.psm1            text    eol=crlf
*.psd1            text    eol=crlf
*.psc1            text    eol=crlf
*.ps1xml          text    eol=crlf
*.clixml          text    eol=crlf
*.bat             text    eol=crlf
